*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.part-1{
    display: flex;
    /* display: inline-block; */
    /* border: 1px solid red; */
    /* margin: auto; */
     /* justify-content: space-between; */

}
.col-1{
    /* padding-left:20vh ; */
    /* padding-top: 20vh; */
    text-align: center;
    line-height: 20px;
    text-align-last: left;
    margin: auto;

}
.btn{
    /* font-size: 20px; */
    /* padding-top: 20px; */
    width: 30%;
    border-radius: 10vh;
    padding: 5px;
    /* height: 30%; */
    background-color: deepskyblue;
}
div img{
    height: 60vh;
    /* padding-right: 30vh; */
    margin: auto;
    /* padding-bottom: 1; */
    z-index:1;

}
.part-1 h5{
font-size: 20px;
line-height: 30px;
}
.part-2{
    /* border: 1px solid blue; */
    display: flex;
    background-image: url(../assets/WhatsApp\ Image\ 2023-10-10\ at\ 04.24.21_3c04aee4.jpg);
    padding: 10%;
    text-align: center;
    justify-content: space-between;
    line-height: 20px;
    color: white;
}
.part-3{
    /* border: 1px solid black; */
    text-align: center;
    padding: 10%;
    line-height: 20px;
    
}
.part-3 h4{
margin-bottom: 10px;
}
.btn-1{
    display: inline-block;
    background-color:deepskyblue ;
    width: 12vh;
    margin-top: 2vh;
    border-radius: 10vh;
    /* margin-left: 20vh; */
    /* width: 10vh; */
    /* margin-left: 31vh; */

}
.part-4{
    background-image: url(../assets/WhatsApp\ Image\ 2023-10-10\ at\ 04.24.21_3c04aee4.jpg);
    /* border: 1px solid green; */
    text-align: center;
    padding:10vh;
    line-height: 20px;
    color:white;
    overflow:auto;
    /* display: inline-block; */
    /* display: flex; */
}
.box-1{
    width: 100%;
    margin: 0 ;
    /* border: 1px solid black; */

}

.box-3{
    border: 1px dashed white;
    min-width:35% ;
    margin-top: 2vh;
    padding: 10vh;
    /* display: flex; */
    /* margin-left: 50%; */
    
}
.box-4{
    border: 1px dashed white;
    min-width: 35%;
    margin-top: 2vh;
    padding: 10vh;
    box-sizing: border-box;
    justify-content: space-between;
    /* display: flex; */
    /* margin: auto; */
    /* margin-left: 40vh; */
    /* margin-bottom: 20vh; */
    /* display: inline-block; */
    /* margin-left: 50%; */
  
}
.box-6{
    margin: 4px;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    /* overflow: auto; */
    /* border: 1px solid black; */
    /* height: 50%; */
}
a{
    text-decoration: none;
    color: white;
}
